/* app css stylesheet */

body {
    font-family:"Comic Sans MS", sans-serif;
    /*padding-top: 20px;*/
    /*padding-bottom: 60px;*/
	/*background-image:url(../img/thedoge.jpg);*/
	background: black;
    /*font-family: acme, tahoma, arial, sans-serif;*/
}

/* Media queries for different screen sizes 
@media screen and (max-width: 640px){
    .table-balances input {
		width: 340px;
	}
}

@media screen and (max-width: 480px){
    .table-balances input {
		width: 270px;
	}

	.walletAddress {
		font-size: small;
	}
}

@media screen and (max-width: 400px){
    .table-balances input {
		width: 220px;
	}

	.walletAddress {
		font-size: x-small;
	}
}

@Media screen and (max-width: 380px){
    .table-balances input {
		width: 186px;
	}
}
*/